.swiper .swiper-pagination-bullet,
.swiper-pagination-bullet {
    --swiper-pagination-bullet-horizontal-gap: 0;
    height: 8px !important;
    width: 8px !important;
    border-radius: 8px !important
}