.uc-header.header-seven {
    transition: 200ms ease-in-out;
    .uc-bottom-navbar .uc-navbar {
        transition: 200ms ease-in-out;
    }
    &.uc-sticky-below {
        transform: translateY(-34px);
        .uc-bottom-navbar .uc-navbar {
            min-height: 72px !important;
            box-shadow: 0 1px 0 0 rgb(155 155 155 / 25%);
        }
    }
}

.swiper .swiper-pagination-bullet,
.swiper-pagination-bullet {
    --swiper-pagination-bullet-horizontal-gap: 0;
    height: 8px !important;
    width: 8px !important;
    border-radius: 8px !important
}